:root {
  --fontFamily: "Roboto", "PT Sans", Arial, Helvetica, sans-serif;
  --background: #0C1828;
  --header: #1C2739;
  --blueLinkLight: rgb(40, 74, 117);
  --nav: #030D19;
  --primary: #56CCF2;
  --searchBorder: #01698A;
  --secondary: #2D9CDB;
  --accent: #F2C94C;
  --neutral: #C4C4C4;
  --previewBorder: #195889;
  --previewBackground: #040517;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: inherit;
}

body {
  background: var(--background);
  color: var(--neutral);
}

#root {
  display: grid;
  grid-template: max-content 1fr max-content / auto;
  height: 100vh;
}

a:link, a:visited {
  color: var(--accent);
  text-decoration: none;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

header {
  background-color: var(--header);
  color: var(--accent);
  text-align: center;
}

header h1 {
  font-size: 4em;
  font-weight: 100;
  margin-bottom: 0;
}

nav {
  background: var(--nav);
  padding: 0;
}

main {
  padding-top: 2em;
}

footer {
  padding: 2em;
  background-color: var(--nav);
}

.fuzzy-highlight {
  font-weight: bold;
  text-decoration: underline;
}

.sc2info__homelink {
  cursor: pointer;
}

.sc2info-button {
  border-radius: 4px;
  border: none;
  padding: 0.35em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: cornflowerblue;
  margin-right: 2em;
}

.sc2info-loadmore {
  display: block;
  border-radius: 4px;
  border: none;
  padding: 1em;
  font-size: 1.25rem;
  cursor: pointer;
  width: 100%;
  background-color: cornflowerblue;
}

.sc2info-navigation {
  display: flex;
  font-size: 18px;
}

.sc2info-navigation__link {
  padding: 1em 1.5em;
  color: white;
}

a:link.sc2info-navigation__link ,
a:visited.sc2info-navigation__link {
  color: white;
}

.sc2info-navigation__link.active {
  background-color: var(--blueLinkLight);
}

.full__info table tr td {
  padding: 0.125em 0.5em;
  min-width: 10rem;
}

button {
  cursor: pointer;
}

html {
    overflow-y:scroll;
}