
.upgrade-preview {
    border-radius: 4px;
    border: 3px solid var(--previewBorder);
    background-color: var(--previewBackground);
    padding: 0.25em;
    min-width: 10em;
    min-height: 7.25em;
    margin-bottom: 1em;
}

.upgrade-preview__picture {
    padding: 0.5em;
    padding-bottom: 0;
    text-align: center;
}

.upgrade-preview__info {
    padding: 0.5em;
    padding-top: 0;
    text-align: center;
}